---
import { Code } from "astro:components";

export interface Props {
    code: string;
    language: any;
}
const { code, language } = Astro.props;
---

<article class="bg-zinc-900 border border-zinc-700 rounded-xl overflow-hidden">
    <header class="bg-zinc-800/50 px-4 py-2 border-b border-zinc-700">
        <span class="text-sm text-zinc-400 uppercase">{language}</span>
    </header>
    <Code code={code} lang={language} class="p-6 text-sm" />
</article>
