---
import ButtonPreview from "./components/ButtonPreview.astro";
import CardPreview from "./components/CardPreview.astro";
import InputPreview from "./components/InputPreview.astro";
import PreviewHeader from "./PreviewHeader.astro";
---

<section
    id="components"
    class="container mx-auto py-26 px-6 bg-gradient-to-b from-zinc-800/20 via-transparent to-zinc-800/20"
>
    <div class="max-w-7xl mx-auto grid place-content-center gap-16">
        <PreviewHeader
            title="Ready-to-use Components"
            subtitle="Clean, modern components that work out of the box"
        />

        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
            <ButtonPreview />
            <InputPreview />
            <CardPreview />
        </div>
    </div>
</section>
