---
import FeaturesGrid from "./FeaturesGrid.astro";
---

<section id="features" class="container mx-auto py-26 px-6">
    <div class="max-w-7xl mx-auto grid place-content-center gap-16">
        <div class="text-center">
            <h3 class="text-3xl font-bold mb-4">Why Choose LaztUI?</h3>
            <p class="text-gray-400 text-lg">
                Built for developers who value simplicity and speed
            </p>
        </div>

        <FeaturesGrid />
    </div>
</section>
